<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Admin page</h1>
        </header>
        <main>
            <form action="upload_form">
                <div id="login">
                    <div>
                        <label for="">Jméno</label>
                        <input type="text" id="jmeno" placeholder="Jméno...">
                    </div>
                    <div>
                        <label for="">Heslo</label>
                        <input type="password" id="heslo" placeholder="Heslo...">
                    </div>
                    <button id="prihlasit">Přihlásit se</button>
                </div>
            </form>
            
            <a href="../prispevky/prehled">Zpět na hlavní stránku</a>
        </main>
        <footer>

        </footer>
    </div>   
</body>
</html>