<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/hlavicka_paticka.css">
    <link rel="stylesheet" href="/css/admin_page.css">
    <title>Admin page</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Admin page</h1>
        </header>
        <nav id="navigace">
            <a href="../prispevky/prehled">Zpět na hlavní stránku</a>
        </nav>
        <main>
            <div id="login">
                <div id="prihlasovani">
                    <div id="text_jmeno_heslo">
                        <p id="prihlasovaci_jmeno">Jméno</p>
                        <label for="name"></label>
                        <input style="width: 100%;" type="text" id="username" placeholder="Jméno.."  required> <br>
                    </div>
                    <div id="text_jmeno_heslo">
                        <p id="heslo">Heslo</p>
                        <label for="password"></label>
                        <input style="width: 100%;" type="password" id="password" placeholder="Heslo.."  required>
                    </div>
                </div>
            </div>
            <div id="button_submit">
                <input id="submit" type="submit" onclick="SendLoginInfo()" value="Přihlásit"></a>
            </div>

            <script>
                var input = document.getElementById("password");
                    input.addEventListener("keyup", function(event) {
                    if (event.keyCode === 13) {
                        event.preventDefault();
                        document.getElementById("submit").click();
                    }
                });
            </script>
        </main>
        <footer>
            <p><i>Dominik Hepnar°, Stanislav Mlejnek°, Radek Lukáš°</i></p>
        </footer>
        <script>
            function SendLoginInfo(){
                fetch('/admin/loginInfo', {
                    method:"POST",
                    headers: {"Content-type":"application/json"},
                    body:JSON.stringify({   
                        "username":username.value,
                        "password":password.value
                        })
                }).then(response => response.json()).then(data => {
                    switch(data.status) {
                       case 100: {
                           location.href = "/admin/compare"
                           break;
                       }
                       default: {
                           console.log("Error", data.status)
                           break;
                       }
                    }
                })
            }
        </script>
    </div>   
</body>
</html>