<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Článek</title>
</head>
<body>
    <div id="container">
        <header>
            <h1>Článek</h1>
            <a href="../prispevky/prehled">Zpět</a>

        </header>
        <main>
            <div class="grid_container">
                <div id="nadpis">
                    <h2>Nadpis</h2>
                </div>
                <div id="telo">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias cum obcaecati non facere sequi cupiditate debitis atque laboriosam. Consectetur dolor aliquam repellendus quod libero excepturi explicabo fugiat. Qui, explicabo vero.</p>
                    <p>Repellendus impedit accusamus non neque dolor qui inventore consequatur exercitationem totam eum tenetur, odit nesciunt blanditiis ut, quam autem eius veritatis id eaque corporis odio! Numquam minima sint praesentium voluptatibus?</p>
                    <p>Minus expedita esse quis temporibus in, aspernatur atque, deserunt dignissimos earum, aut magni! Nam maiores laboriosam, exercitationem dolores dicta, eligendi quam repellat consectetur accusantium temporibus maxime, distinctio quaerat voluptatum necessitatibus.</p>
                    <p>Distinctio, at illo sunt voluptate ipsam itaque eum, repellat corrupti libero, eos laborum commodi aspernatur. Facere, distinctio incidunt. Ea dicta earum iste libero necessitatibus optio laboriosam quasi vitae aliquid nemo.</p>
                    <p>Laudantium tempora veritatis, architecto enim illum beatae sapiente. Sint quis neque corporis facere possimus officia nulla aliquam error, tempora itaque. Eveniet id ipsam illo ex libero quaerat fugiat, veniam iure?</p>
                </div>
                <div id="autor">
                    <p>autor: Jan Novák</p>
                </div>
                <div id="datum">
                    
                </div>
            </div>
        </main>
        <footer>
            <p>SPŠ Trutnov 2022</p>
        </footer>
    </div>   
</body>
</html>