<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/odebrat.css">
    <title>Odebrat příspěvek</title>
</head>
<body>
    <div id="container">
        <header style="border: 1px solid black; background-color: #223974;">
            <h1 style="text-align: center; color: white;; font-size: 64px;">Školní noviny</h1>
        </header>
        <main>
            <h2>Odebrat příspěvek</h2>
            <a href="../admin/upload_form" id="odkazzpet">Zpět na redakční režim</a>
            <div id="prispevky">
                <p>Zde by se měli zobrazovat příspěvky...</p>

            </div>
        </main>
        <footer style="background: #223974; margin-left: auto; margin-right: auto; text-align: center; height: 100px;">
            <p style="padding: 30px; text-align: center; color: white;"><i>Dominik Hepnar°, Stanislav Mlejnek°, Radek Norymberk°</i></p>
        </footer> 
    </div>
    
</body>
</html>