<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Školní Noviny</title>
</head>
<body>
    <h1>Školní noviny</h1>
    <a href="/admin/admin_page">Admin</a>
    <main>
        <div id="container">
            <div id="pole_prispevku">

                    
            </div>
        </div>
    </main>
</body>
</html>