<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/prehled.css">
    <link rel="stylesheet" href="/css/hlavicka_paticka.css">
    <title>Školní Noviny</title>
</head>
<body>
    <div id="nadpis">
        <h1 id="h1">Školní noviny</h1>
    </div>
    <nav id="navigace">
        <a id="text_admin" href="/admin/admin_page">Admin</a>
    </nav>
    <main>
        <div id="container">
            <div id="pole_prispevku"> 
                <p>Zde by se měli zobrazovat příspěvky...</p>                 
            </div>
        </div>
    </main>
    <footer>
        <p><i>Dominik Hepnar°, Stanislav Mlejnek°, Radek Lukáš°</i></p>
    </footer>
</body>
</html>