<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/prehled.css">
    <title>Školní Noviny</title>
</head>
<body>
    <div style="border: 1px solid black; background-color: #223974;">
        <h1 style="text-align: center; color: white;; font-size: 64px;">Školní noviny</h1>
    </div>
    <nav style="text-align: right;">
        <a href="/admin/admin_page" style="margin-right: 250px ;padding: 10px ;padding-top: 10px ;font-size: 32px; cursor: pointer; color: #fff; background-color: #999; border: none; border-radius: 15px; box-shadow: 0 9px #999; width: 70px; ">Admin</a>
    </nav>
    <main style="height: 600px;">
        <div id="container">
            <div id="pole_prispevku"> 
                <p>Zde by se měli zobrazovat příspěvky...</p>                 
            </div>
        </div>
    </main>
    <footer style="background: #223974; margin-left: auto; margin-right: auto; text-align: center; height: 100px;">


        <p style="padding: 30px; text-align: center; color: white;"><i>Dominik Hepnar°, Stanislav Mlejnek°, Radek Lukáš°</i></p>

        <p style="padding: 30px; text-align: center; color: white;"><i>Dominik Hepnar°, Stanislav Mlejnek°, Radek Norymberk°</i></p>

    </footer>
</body>
</html>