<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nový příspěvek</title>
    <script src="/js/lib/jquery.js"></script>
    <script src="/js/pridani.js"></script>
    <link rel="stylesheet" href="/css/pridat.css">
</head>
<body>
    <div id="container">   
        <header style="border: 1px solid black; background-color: #223974;">
             <h1 style="text-align: center; color: white;; font-size: 64px;">Školní noviny</h1>
        </header>   
        <main>
            <h2>Nový příspěvek</h2>           
                <a href="/admin/upload_form" id="odkazzpet">Zpět na redakční režim</a>
            <form action="/prispevek/pridat" method="POST" id="pridani_clanku"></form>
                <div class="prvek_formulare" id="nadpis_clanku">                  
                    <input type="text" id="input_nadpis" placeholder="Nadpis...">
                </div>
                <div class="prvek_formulare">           
                    <input type="datetime" id="input_datum" placeholder="Datum...">                  
                </div>
                <div class="prvek_formulare">
                    <textarea id="input_clanek" placeholder="Článek..." itemid="clanek"></textarea>
                </div>
                <div class="prvek_formulare">
                    <input type="text" id="input_autor" placeholder="Autor...">
                </div>
                <div class="button" id="butt">
                    <input type="submit" value="Přidat" id="submit">
                </div>
                <span id="hlaseni" style="color: red;"></span>
            </form>
        </main>
        <footer style="background: #223974; margin-left: auto; margin-right: auto; text-align: center; height: 100px;">
            <p style="padding: 30px; text-align: center; color: white;"><i>Dominik Hepnar°, Stanislav Mlejnek°, Radek Norymberk°</i></p>
        </footer>
    </div>  
</body>
</html>